<li class="separator acl-write"></li>
<li class="acl-write line-height">
  <a title="line height">
    <span class="buttonicon" style="background-image:url('../static/plugins/ep_line_height/static/img/icon.png');"></span>
  </a>
<li class="line-height-select" class="acl-write" style="display:none;">
    <select class="height-selection">
        <option value="dummy" selected data-l10n-id="ep_line_height.height">Line Height</option>
        <option value="1">1x</option>
        <option value="2">1.5x</option>
        <option value="3">2x</option>
    </select>
</li>
