<li class="separator acl-write"></li>
<li id="height" class="acl-write">
    <select class="height-selection">
        <option value="dummy" selected data-l10n-id="ep_line_height.height">Line Height</option>
        <option value="1">1x</option>
        <option value="2">1.5x</option>
        <option value="3">2x</option>
    </select>
</li>
